.blog-wrap{
    width: 300px;
    display: inline-block;
    height: auto;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

.blog-wrap img {
    width: 278px;
    height: 200px;
    padding-bottom: 5px;
}